#main-wrap {
  --main-max-width: calc(100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls});
  @include breakpoint($mq-col2) {
    --main-max-width: auto;
  }
}

.rush {
  grid-area: main;
  display: grid;

  &__board {
    grid-area: board;
  }

  &__tools {
    grid-area: tools;
  }

  grid-template-areas: 'board' 'tools';
  grid-row-gap: $block-gap;

  @include breakpoint($mq-col2) {
    grid-template-columns: $col2-uniboard-width $col2-uniboard-table;
    grid-template-rows: fit-content(0);
    grid-template-areas:
    'board   tools';
  }
}
